node_modules/

bin/deploy
# Logs
logs
*.log
npm-debug.log*

# sql database
*.sql

# dotenv environment variables file
.env
.whitelist.js
config/constants.js

# backups
*.bak
*.bak.js

# vim swap files
*.swp
*.swo
